<md-toolbar> <div class="md-toolbar-tools"> <md-button class="md-icon-button" aria-label="Menu Button" ng-click="onClickMenu();"> <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"> </md-icon> </md-button> <h2 translate="BUTTON_TEXT_REGISTRO">REGISTRO</h2> </div> </md-toolbar> <div id="register_view"> <div ng-if="vm.complete == false"> <!--         <form role="form" ng-if="vm.authenticated != true" name="registerForm" ng-submit="vm.register(registerForm)" novalidate>
            <div class="form-group">
                <label for="id_username">Username</label>
                <input name="username" id="id_username" class="form-control" type="text" ng-model="vm.model.username" placeholder="Username" required />

            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.username">{{error}}</div>
            <div class="form-group">
                <label for="id_password">Password</label>
                <input name="password" id="id_password" class="form-control" type="password" ng-model="vm.model.password" placeholder="Password" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.password">{{error}}</div>
            <div class="form-group">
                <label for="id_email">Email</label>
                <input name="email" id="id_email" class="form-control" type="email" ng-model="vm.model.email" placeholder="Email" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.email">{{error}}</div>

            <div class="form-group">
                <label for="fist_name">first_name</label>
                <input name="fist_name" id="fist_name" class="form-control" type="text" ng-model="vm.model.fist_name" placeholder="Fist Name" required/>
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.fist_name">{{error}}</div>

            <div class="form-group">
                <label for="last_name">last_name</label>
                <input name="last_name" id="last_name" class="form-control" type="text" ng-model="vm.model.last_name" placeholder="Last Name" required/>
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.last_name">{{error}}</div> 

            <div class="form-group">
                <label for="company">Company</label>
                <input name="company" id="company" class="form-control" type="text" ng-model="vm.model.company" placeholder="Company" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.company">{{error}}</div>     

            <div class="form-group">
                <label for="biography">Biography</label>
                <input name="biography" id="biography" class="form-control" type="text" ng-model="vm.model.biography" placeholder="Biography" />
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.last_name">{{error}}</div>                        

            <button ng-hide="vm.authenticated" type="submit" class="btn btn-primary">Register</button>
        </form> --> <h2 ng-if="vm.authenticated" translate="TEXTO_LOGININ" class="center md-primary">You are already logged in! You don't need to register.</h2> </div> <div ng-if="vm.complete == true"> <div class="alert alert-success"> <h2 translate="TEXTO_SUCCESSLOGIN">Great!</h2></div> </div> </div> <div layout="column" layout-padding> <br> <md-content class="md-no-momentum"> <form role="form" ng-if="vm.authenticated != true" ng-if="vm.complete == true" name="registerForm" ng-submit="vm.register(registerForm)" novalidate> <md-input-container class="md-icon-float md-block"> <!-- Use floating label instead of placeholder --> <label translate="FORM_USERNAME">User Name</label> <input name="username" ng-model="vm.model.username" type="text" required> <div class="color-red" ng-repeat="error in vm.errors.username">{{error}}</div> </md-input-container> <md-input-container class="md-block"> <label translate="CONTRASENA">Password</label> <input name="password" md-maxlength="20" id="id_password" type="password" ng-model="vm.model.password" required> <div class="color-red" ng-repeat="error in vm.errors.password">{{error}}</div> </md-input-container> <md-input-container class="md-block"> <label for="id_email">Email</label> <input name="email" id="id_email" type="email" ng-model="vm.model.email" required> <div class="color-red" ng-repeat="error in vm.errors.email">{{error}}</div> </md-input-container> <md-input-container class="md-block"> <label for="fist_name" translate="FORM_FIRST_NAME">First Name</label> <input name="fist_name" id="fist_name" type="text" ng-model="vm.model.fist_name" required> <div class="color-red" ng-repeat="error in vm.errors.fist_name">{{error}}</div> </md-input-container> <md-input-container class="md-block"> <label for="last_name" translate="FORM_LAST_NAME">Last Name</label> <input name="last_name" id="last_name" class="form-control" type="text" ng-model="vm.model.last_name" required> <div class="color-red" ng-repeat="error in vm.errors.last_name">{{error}}</div> </md-input-container> <md-input-container class="md-block"> <md-checkbox ng-model="vm.model.show_assistent">Mostrar en la sección de asistentes. <ng-checked> </ng-checked> </md-checkbox></md-input-container> <md-input-container class="md-block"> <label for="company" translate="FORM_COMPANY">Company</label> <input name="company" id="company" type="text" ng-model="vm.model.company"> </md-input-container> <md-input-container class="md-block"> <label for="job" translate="FORM_POSITION">Position</label> <input name="job" id="job" type="text" ng-model="vm.model.job"> </md-input-container> <md-input-container class="md-block"> <label for="biography" translate="FORM_BIOGRAPHY">Biography</label> <input name="biography" id="biography" type="text" ng-model="vm.model.biography"> </md-input-container> <div layout-align="center"> <md-button class="md-grey" ng-hide="vm.authenticated" type="submit" translate="BUTTON_TEXT_REGISTRO">Register</md-button> </div> </form> </md-content> </div>