<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 translate="PATROCINADORES">PATROCINADORES</h2>
    </div>
</md-toolbar>
<div layout="row" layout-wrap>
  <div flex="50" ng-repeat="sponsor in vm.sponsors.sponsors" layout-align="center center" class="sponsors">  
    <div layout="row" layout-align="center center">
        <md-button href="/#/patrocinadores/{{sponsor.pk}}/">
            <div>
                <img ng-if="$index%2==0" ng-src="images/recortes/avatar-1.png" alt="">
                <img ng-if="$index%2==1" ng-src="images/recortes/avatar-2.png" alt="">        
            </div>
            <div>
                <h2 class="md-subhead">{{sponsor.name}}</h2>
            </div>
        </md-button>
        
    </div>
  </div>
</div>
