<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2><span><a href="/#/patrocinadores/" translate="PATROCINADORES">Patrocinadores</a></span> > {{vm.single_sponsors.name | uppercase }}</h2>
    </div>
</md-toolbar>
<section layout="row" flex>
    <md-content flex>
        <md-card>
            <md-card-header layout-align="center center">
              <md-card-avatar >
                <img layout-align="center" alt="" ng-src="images/recortes/avatar-1.png" class="md-avatar md-fab" />
              </md-card-avatar>
            </md-card-header>
            <md-card-title>
              <md-card-title-text layout-align="center center">
                        <span class="md-headline">{{vm.single_sponsors.name | uppercase }}</span>
                        <span class="md-subhead"><a ng-href="phone:{{vm.single_sponsors.phone}}">Tel:{{vm.single_sponsors.phone}}</a></span>
                        <span class="md-subhead"><a ng-href="{{vm.single_sponsors.website}}" target="_blank">{{vm.single_sponsors.website}}</a></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout-align="center center">
            <p class="md-subhead" ng-bind-html="vm.single_sponsors.description"></p>
            </md-card-content>
      </md-card>
    <!-- <p>{{vm.single_sponsors.name}}</p>
    <a href="phone:{{vm.single_sponsors.phone}}">{{vm.single_sponsors.phone}}</a><br>
    <a href="{{vm.single_sponsors.website}}" target="_blank">{{vm.single_sponsors.website}}</a>
    <p ng-bind-html="vm.single_sponsors.description"></p> -->
    </md-content>
</section>
