<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 translate="TITULO_INICIO">HOME</h2>
    </div>
</md-toolbar>

<section layout="row" class="home">
    <md-content> 
        <br>
        <br>
        <div layout="row" layout-wrap>
            <div flex="30" layout-gt-sm="100" >
            </div> 
            <div flex="40" layout-gt-sm="100" >
                <img ng-src="{{vm.authenticatedAccount.logo_event}}" class="md-card-image" alt="">
            </div> 
            <div flex="30" layout-gt-sm="100" >
            </div>        
            <div flex="50" layout-align="center">
                <div layout="row" layout-align="center center">
                     <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/facilidades/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/holidays.svg" aria-label="Menu Icon"></md-icon>
                            
                        </md-button>
                        <h2 translate="FACILIDADES"></h2>
                    </md-button>
                </div>
            </div>
            <div flex="50" layout-align="center center" class="md-raised">
                <div layout="row" layout-align="center center">
                     <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/agenda/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/calendar.svg" aria-label="Menu Icon"></md-icon>
                        </md-button>
                        <h2 translate="AGENDA">AGENDA</h2>
                    </md-button>
                </div>
          </div>
          <div flex="50" layout-align="center">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/conferencistas/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/tribune.svg" aria-label="Menu Icon"></md-icon>
                            
                        </md-button>
                        <h2 translate="CONFERENCISTAS"></h2>
                    </md-button>
                </div>
            </div>
            <div flex="50" layout-align="center center" class="md-raised">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/asistentes/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/command.svg" aria-label="Menu Icon"></md-icon>
                        </md-button>
                        <h2 translate="ASISTENTES"></h2>
                    </md-button>
                </div>
          </div>
          <div flex="50" layout-align="center">
                <div layout="row" layout-align="center center">
                   <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/links/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/link.svg" aria-label="Menu Icon"></md-icon>
                            
                        </md-button>
                        <h2 translate="LINKS"></h2>
                    </md-button>
                </div>
            </div>
            <div flex="50" layout-align="center center" class="md-raised">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/descargas/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/technology.svg" aria-label="Menu Icon"></md-icon>
                        </md-button>
                        <h2 translate="DESCARGAS"></h2>
                    </md-button>
                </div>
          </div>
          <div flex="50" layout-align="center">
                <div layout="row" layout-align="center center">
                   <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/boletines/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/newspaper.svg" aria-label="Menu Icon"></md-icon>
                            
                        </md-button>
                        <h2 translate="BOLETINES"></h2>
                    </md-button>
                </div>
            </div>
            <div flex="50" layout-align="center center" class="md-raised">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/tips/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/idea.svg" aria-label="Menu Icon"></md-icon>
                        </md-button>
                        <h2 translate="TIPS"></h2>
                    </md-button>
                </div>
          </div>
          <div flex="50" layout-align="center">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/patrocinadores/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/handshake.svg" aria-label="Menu Icon"></md-icon>
                            
                        </md-button>
                        <h2 translate="PATROCINADORES"></h2>
                    </md-button>
                </div>
            </div>
            <div flex="50" layout-align="center center" class="md-raised">
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/ajustes/">
                        <md-button ng-disabled class="md-fab" aria-label="Facilities">
                            <md-icon md-svg-icon="images/icons/cogwheel.svg" aria-label="Menu Icon"></md-icon>
                        </md-button>
                        <h2 translate="AJUSTES"></h2>
                    </md-button>
                </div>
          </div>
        </div>
        <br>
        <div ng-include="'views/footer.html'" ></div>  
    </md-content>
</section>
<!-- 
<section layout="row" class="home">
	<md-content flex> 
        <div layout-padding>
            <div layout="row" layout-align="center">
                <div flex=40 >
                    <img ng-src="images/recortes/logotipo-paradisus-by-melia.png" class="md-card-image" alt="" flex-align="center"> 
                </div>        
            </div>
            <div flex></div>
             <div layout="column" layout-gt-xs="row">
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/facilidades/">
                    <md-button ng-disabled class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/holidays.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="FACILIDADES"></h2>
                </md-button>
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/agenda/">
                    <md-button class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/calendar.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2>AGENDA</h2>
                </md-button>
            </div>
            <div layout="column" layout-gt-xs="row">
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/conferencistas/">
                    <md-button class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/tribune.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="CONFERENCISTAS"></h2>

                </md-button>
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/asistentes/">
                    <md-button class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/command.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="ASISTENTES"></h2>
                </md-button>
            </div>
            <div layout="column" layout-gt-xs="row">
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/links/" />
                    <md-button class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/link.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2>LINKS</h2>
                </md-button>
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/descargas/" />
                    <md-button class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/technology.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="DESCARGAS"></h2>
                </md-button>
            </div>
            <div layout="column" layout-gt-xs="row" >
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/boletines/" />
                    <md-button class="md-fab" aria-label="Facilities">
                        <md-icon md-svg-icon="images/icons/newspaper.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="BOLETINES"></h2>
                </md-button>
                <md-button class="md-raised " flex flex-sm="50" layout-align="top center" href="/#/tips/" />
                    <md-button class="md-fab md-default" aria-label="Facilities" md-no-ink>
                        <md-icon md-svg-icon="images/icons/idea.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2>TIPS</h2>
                </md-button>
            </div>
            <div layout="column" layout-gt-xs="row" >
                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/patrocinadores/" />
                    <md-button class="md-fab" aria-label="Facilities" md-no-ink>
                        <md-icon md-svg-icon="images/icons/handshake.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="PATROCINADORES"></h2>
                    
                </md-button>

                <md-button class="md-raised" flex flex-sm="50" layout-align="top center" href="/#/ajustes/" />
                    <md-button class="md-fab" aria-label="Facilities" md-no-ink layout-aligng="center center">
                        <md-icon md-svg-icon="images/icons/cogwheel.svg" aria-label="Menu Icon"></md-icon>
                    </md-button>
                    <h2 translate="AJUSTES"></h2>
                </md-button>
            </div>
            
        </div>
		<div ng-include="'views/footer.html'"></div>    
	</md-content>
</section> -->