<md-toolbar style="background:transparent"> <p class="center" style="color:black;font-weight:bold"><span>Meet Me</span></p> </md-toolbar> <!--       <div layout="row" layout-wrap>
            <div flex="30" flex-gt-xs="45" >
            </div> 
            <div flex="40" flex-gt-xs="10" >
                <img ng-src="https://material.angularjs.org/latest/img/icons/angular-logo.svg" class="md-card-image" alt=""> 
            </div> 
            <div flex="30" flex-gt-xs="45" >
            </div> 
      </div> --> <md-content layout="row" layout-align="center center"> <div flex-gt-xs="40" flex="90" style="background:white" layout-padding> <form name="loginForm" ng-submit="vm.login(loginForm)" layout-align="center center"> <md-input-container class="md-block"> <label translate="EVENTO">Evento</label> <input type="number" required md-no-asterisk name="event" ng-model="vm.event"> <div ng-messages="loginForm.event.$error"> <div ng-message="required">Este campo es requerido/This is required.</div> </div> <div class="alert alert-danger" ng-repeat="error in vm.errors.event">{{error}}</div> </md-input-container> <md-input-container class="md-block"> <label translate="CONTRASENA">Password</label> <input md-maxlength="30" type="password" required name="password" ng-model="vm.password"> <div ng-messages="loginForm.password.$error"> <div ng-message="required">Este campo es requerido/This is required.</div> </div> </md-input-container> <md-input-container class="md-block"> <label for="email">Email</label> <input name="email" id="email" type="email" ng-model="vm.email"> <p>Ingresa tu correo para notificarte cambios en los eventos </p> <div ng-if="vm.errors">{{vm.errors}}</div> </md-input-container> <md-button type="submit" class="md-raised md-grey" flex="center">Enviar</md-button> </form></div>   </md-content>