<md-toolbar md-hue-1> <div class="md-toolbar-tools"> <h2>Jsav</h2> <span flex></span> <md-button class="md-icon-button" aria-label="Menu Button" ng-click="onClickMenu();"> <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"> </md-icon> </md-button> </div> </md-toolbar>