<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2><a translate="DESCARGAS" href="/#/descargas/">descargas</a> > <span>{{vm.single_conrence.name | uppercase | limitTo:letterLimit:10 }}</span></h2>
    </div>
</md-toolbar>
<section layout="row" flex>
  <md-content flex >
    <div layout-padding class="subheader-h1">
      <h1>{{vm.single_conrence.name | uppercase }}</h1>
    </div>
    <!-- agregar los links realcionados -->
      <md-subheader class="md-primary ">{{ 'DESCARGAS' | translate }}</md-subheader>
      <!-- agregar los links realcionados -->
      <md-list flex>        
        <md-list-item class="md-2-line" ng-repeat="download in vm.single_conrence.download" ng-href="{{download.file}}">
          <div class="md-list-link-text" >
            <h3>{{download.name | uppercase }}</h3>
          </div>
        </md-list-item>
        
      </md-list>
  </md-content>
</section>
