<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2><span><a href="/#/tips/">TIPS</a></span> > {{vm.single_tip.name | uppercase }}</h2>
    </div>
</md-toolbar>
<section layout="row" flex>
    <md-content flex layout-padding class="subheader-h1">
        <h1>{{vm.single_tip.name | uppercase }}</h1>
        <p class="md-subhead" ng-bind-html="vm.single_tip.content"></p>
    </md-content>
</section>
