<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2><span><a href="/#/agenda/" translate="TITULO_CONFERENCIAS">CONFERENCIAS</a></span> > {{vm.single_conrence.name | uppercase}}</h2>
    </div>
</md-toolbar>
<section layout="row" flex>
    <md-content flex>
      <md-list class="md-list-conference">
        <md-list-item class="md-3-line">
          <div class="md-list-item-text subheader-h1">
            <h1>{{vm.single_conrence.name | uppercase}}</h1>
            <p>{{vm.single_conrence.date}}</p>
            <p>{{vm.single_conrence.location}}</p>
            <p><span>{{vm.single_conrence.start_date}}</span> <span translate="SUBTITULO_A">a</span> <span>{{vm.single_conrence.end_date}}</span></p>
            <br>
          </div>
        </md-list-item>
      </md-list>
        <!-- <md-subheader class="md-sticky">{{vm.texto.conferencistas}}</md-subheader> -->
        <md-subheader class="md-primary" >{{'SUBTITULO_CONFERENCISTAS' | translate | uppercase }}</md-subheader>
            <!-- agregar los links realcionados -->
            <md-list flex> 
                <md-list-item class="md-2-line" ng-repeat="speaker in vm.single_conrence.speakers" ng-href="/#/conferencistas/{{speaker.pk}}/" class="noright" >
                  <img alt="" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar" />
                  <p>{{ speaker.name | uppercase}}</p>
                  <!-- <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon> -->
                  <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>
                </md-list-item>       
            </md-list>
        <md-subheader class="md-primary">LINKS </md-subheader>
            <md-list flex>        
              <md-list-item class="md-2-line" ng-repeat="link in vm.single_conrence.links" ng-href="{{link.link}}" target="_blank" >
                  <p>{{link.link}}</p>
               <!--  <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon> -->
               <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>
              </md-list-item>
            </md-list>
        <md-subheader class="md-primary">{{'SUBTITULO_DESCARGAS' | translate | uppercase }}</md-subheader>
            <md-list flex>        
              <md-list-item class="md-2-line" ng-repeat="descargas in vm.single_conrence.download" ng-href="{{descargas.file}}" target="_blank" >
                  <p>{{descargas.name | uppercase}}</p>
                <!-- <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon> -->
                <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>
              </md-list-item>
            </md-list>
            <div ng-include="'views/footer.html'" ></div> 
    </md-content>
</section>
