<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2 translate="TITULO_CONFERENCIAS"></h2>
    </div>
</md-toolbar>
<div flex-gt-sm="50" flex>
  <md-content>
    <md-list flex>        
      <md-list-item class="md-2-line" ng-repeat="item in vm.conferences" ng-href="/#/{{vm.texto.url}}/{{item.pk}}/">
        <div class="md-list-item-text">
            <h3>{{ item.name | uppercase }}</h3>
          <p> {{ item.date }} </p>
        </div>
        <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>

      </md-list-item>
    </md-list>
    <p ng-if="!vm.conferences" translate="ALERT_ITEMS">ALERT_ITEMS</p>
    
  </md-content>
  <div ng-include="'views/footer.html'"></div> 
</div>