<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 show-xs hide-gt-xs><a translate="BOLETINES" href="/#/boletines/"></a> > <span>{{vm.single_newsletter.name | uppercase | limitTo:10 }} </span><span>...</span></h2>

         <h2 hide-xs show-gt-xs ><a translate="BOLETINES" href="/#/boletines/"></a> > <span>{{vm.single_newsletter.name | uppercase | limitTo:25 }} </span><span>...</span></h2>
    </div>
</md-toolbar>
<div layout="row" layout-align="center center" ng-if="vm.loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<section layout="row" flex ng-if="vm.loading != true">
    <md-content class="subheader-h1">
        <div layout-padding >
            <h1>{{vm.single_newsletter.name | uppercase }}</h1>
            <p class="md-subhead" ng-bind-html="vm.single_newsletter.content"></p>    
        </div>
        <div ng-include="'views/footer.html'" ></div> 

    </md-content>

</section>
