<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button"
    aria-label="Menu Button"
    ng-click="onClickMenu();">
      <md-icon
      md-svg-icon="images/icons/menu.svg"
      aria-label="Menu Icon">
    </md-icon>
  </md-button>
  <h2 translate="AJUSTES">AJUSTES</h2>
</div>
</md-toolbar>
<div layout="column" flex flex-layout="center center" ng-show="vm.authenticated == false && vm.complete == false">
  <section layout="row" >
     <md-content layout-padding>
      <p translate="HEADER_LOGIN">
        Inicia
      </p>
        <form name="loginForm" ng-submit="vm.login(loginForm)" layout-align="center center" >
          <md-input-container class="md-block">
            <label translate="USERNAME">USERNAME</label>
            <input md-maxlength="20" required md-no-asterisk name="username" ng-model="vm.username">
<!--             <div ng-messages="eventForm.event.$error">
              <div ng-message="required">Este campo es requerido/This is required.</div>
            </div> -->
            <div class="alert alert-danger" ng-repeat="error in vm.errors.username">{{error}}</div>
          </md-input-container>
          <md-input-container class="md-block">
            <label translate="CONTRASENA">Password</label>
            <input md-maxlength="30" type="password" required name="password" ng-model="vm.password">
            <div ng-messages="eventForm.password.$error">
              <div ng-message="required">Este campo es requerido/This is required.</div>
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.password">{{error}}</div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.non_field_errors">{{error}}</div>
            <div class="alert alert-danger" ng-if="vm.error">{{error}}</div>
          </md-input-container>
          <div>
            <md-button type="submit" class="md-raised md-primary" flex="center" >Enviar</md-button>
            
          </div>
        </form>
              <p translate="BODY_LOGIN">lorem</p>
      </md-content>
  </section>
</div>