<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu Button" ng-click="onClickMenu();">
          <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon>
        </md-button>
        <h2 translate="AJUSTES">AJUSTES</h2>
    </div>
</md-toolbar>
<section layout="row">
    <md-content flex >
        <div layout="row" flex layout-align="space-around center">
            <div layout="column" layout-align="center center"> 
                <div flex>
                    <p translate="NUMERO_EVENTO">Evento</p>
                </div>
                <div flex>
                    <p>{{ vm.event_id }}</p>
                </div>
            </div>
            <div layout="column" layout-align="center center">
                <div flex>
                    <p translate="NUMERO_ASISTENTE">ID</p>  
                </div>
                <div flex>
                    <p>{{vm.model.assistent_id}} - {{vm.model.username}} </p>
                </div>
            </div>
        </div>
        <div layout="column" ng-if="vm.complete==false">
              <md-list flex >        
                <md-list-item class="md-2-line" ng-click="vm.changeComplete(true)" md-whiteframe="2">
                  <img layout-align="center" alt="" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar" />
                  <div class="md-list-item-text">
                    <h3>{{vm.model.first_name}} {{vm.model.last_name}}</h3>
                  </div>
                  <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg"></md-icon>
                </md-button>
              </md-list-item>
            </md-list>        
<!--             <md-list flex>        
                <md-list-item class="noright" ng-click="vm.changeComplete(true)" md-whiteframe="2">
                    <img alt="" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar" />
                    <div class="md-list-item-text">
                        <h3>{{vm.model.first_name}} {{vm.model.last_name}}
                        <md-icon
                        md-svg-icon="images/icons/menu.svg"
                        aria-label="Menu Icon">
                        </md-icon></h3>
                    </div>
                </md-list-item>          
            </md-list> -->
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-href="/#/logout-auth" translate="CERRAR_SESION">CERRAR_SESION</md-button>
                <br>
            </div>            

            <div layout-padding>
                <p translate="BODY_LOGIN">Lorem</p>    
            </div>
        </div>
        <div layout="column" ng-if="vm.complete==true" layout-padding>
            <form role="form" ng-if="vm.authenticated" name="updateForm" ng-submit="vm.updateProfile(updateForm,vm.model)" novalidate>
            <md-input-container class="md-icon-float md-block">
              <!-- Use floating label instead of placeholder -->
              <label translate="FORM_USERNAME">User Name</label>
              <input name="username" ng-model="vm.model.username" type="text" required />
                <div ng-repeat="error in vm.errors.username">{{error}}</div>  
            </md-input-container>

            <md-input-container class="md-block">
              <label for="id_email">Email</label>
              <input name="email" id="id_email"  type="email" ng-model="vm.model.email" required />
              <div ng-repeat="error in vm.errors.email">{{error}}</div>
            </md-input-container>
            
            
            <md-input-container class="md-block">
              <label for="first_name" translate="FORM_FIRST_NAME">First Name</label>
              <input name="first_name" id="first_name" type="text" ng-model="vm.model.first_name" required/>
              <div ng-repeat="error in vm.errors.first_name">{{error}}</div>
            </md-input-container>

            <md-input-container class="md-block">
              <label for="last_name" translate="FORM_LAST_NAME">Last Name</label>
               <input name="last_name" id="last_name" class="form-control" type="text" ng-model="vm.model.last_name" required/>
               <div ng-repeat="error in vm.errors.last_name">{{error}}</div>
            </md-input-container>


               <md-input-container class="md-block">
                  
                  <md-checkbox ng-model="vm.model.show_assistent" ><span translate="FORM_SHOW">Mostrar en la sección de asistentes.</span><ng-checked>
                </md-input-container>


                <md-input-container class="md-block">
                  <label for="job" translate="FORM_POSITION">POSITION</label>
                  <input name="job" id="job" type="text" ng-model="vm.model.job" />
                </md-input-container>

                <md-input-container class="md-block">
                  <label for="company" translate="FORM_COMPANY">Company</label>
                  <input name="company" id="company" type="text" ng-model="vm.model.company" />
                </md-input-container>

                <md-input-container class="md-block">
                  <label for="biography" translate="FORM_BIOGRAPHY">Biography</label>
                   <textarea name="biography" id="biography" type="text" ng-model="vm.model.biography"> </textarea>
                </md-input-container>
 
            <div class="alert alert-danger" ng-repeat="error in vm.errors.non_field_errors">{{error}}</div>
            <div class="alert alert-danger" ng-if="vm.error">{{error}}</div>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-hide="!vm.authenticated" type="submit" translate="BUTTON_TEXT_UPDATE">Update</md-button>
                 <md-button class="md-raised md-primary" ng-hide="!vm.authenticated" type="submit" ng-click="vm.changeComplete(false)" translate="BUTTON_TEXT_CANCEL">Cancelar</md-button>
                <br>
            </div> 
            </form>
        </div>
    </md-content>
</section>