<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 class="md-body-2"><span><a href="/#/conferencistas/" translate="SUBTITULO_CONFERENCISTAS">CONFERENCISTAS</a> > </span>{{vm.single_speaker.name | uppercase | limitTo:15 }}<span show-xs hide-gt-xs>...</span> </h2>
    </div>
</md-toolbar>
<section layout="row">
    <md-content flex >
         <md-card>
            <md-card-header layout-align="center center">
              <md-card-avatar >
                <img layout-align="center" alt="" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar md-fab circle" />
              </md-card-avatar>
            </md-card-header>
        <md-card-title>
          <md-card-title-text layout-align="center center">
                    <span class="md-headline">{{vm.single_speaker.name}}</span>
                    <span class="md-subhead">{{vm.single_speaker.job}}</span>
                    <span class="md-subhead">{{vm.single_speaker.company}}</span>
                    <span class="md-subhead"><a href="mailto:{{vm.single_speaker.email}}">{{vm.single_speaker.email}}</a></span>
                    <span class="md-subhead"><a href="{{vm.single_speaker.website}}" target="_blank">{{vm.single_speaker.website}}</a></span>
                    
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="center center">
        <p class="md-subhead" ng-bind-html="vm.single_speaker.description"></p>
        </md-card-content>
      </md-card>
       
        <md-subheader class="md-primary">{{'SUBTITULO_CONFERENCIAS' | translate }}</md-subheader>
        <md-list flex>        
          <md-list-item class="md-2-line " ng-repeat="item in vm.single_speaker.conference" ng-href="/#/{{vm.texto.url}}/{{item.pk}}/">
            <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="" /> -->
              <p>{{item.name | uppercase}}</p>
            <!-- <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon> -->
            <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>
          </md-list-item>
        </md-list>
            <!-- agregar los links realcionados -->
    </md-content>
</section>
