<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2 translate="SUBTITULO_CONFERENCISTAS">conferencistas</h2>
    </div>
</md-toolbar>
<div flex-gt-sm="50" flex>
  <md-content>
    <md-list flex>        
      <md-list-item class="md-2-line" ng-repeat="speaker in vm.speakers" ng-href="/#/conferencistas/{{speaker.pk}}/" >
        <img layout-align="center" alt="" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar" />
        <div class="md-list-item-text">
          <h3>{{speaker.name | uppercase}}</h3>
          <p><span ng-repeat="conference in speaker.conference">{{conference.name}}<span ng-hide="$last">, </span></span></p>
        </div>
        <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>
      </md-list-item>
    </md-list>
    <p ng-if="!vm.speakers" translate="ALERT_ITEMS">ALERT_ITEMS</p>
  </md-content>
</div>