    <md-toolbar style="background:transparent;">
      <p class="center" style="color:black;font-weight:bold"><span>E-vent</span></p>
    </md-toolbar>
   <md-content layout="row" layout-align="center center">
    <div  flex-gt-xs="40" flex="90" style="background:white" layout-padding>
  <form name="loginForm" ng-submit="vm.login(loginForm)" layout-align="center center" >
          <md-input-container class="md-block">
            <label translate="EVENTO">Evento</label>
            <input type="number" required md-no-asterisk name="event" ng-model="vm.event">
            <div ng-messages="loginForm.event.$error">
              <div ng-message="required">Este campo es requerido/This is required.</div>
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.event">{{error}}</div>
          </md-input-container>
          <md-input-container class="md-block">
            <label translate="CONTRASENA">Password</label>
            <input md-maxlength="30" type="password" required name="password" ng-model="vm.password">
            <div ng-messages="loginForm.password.$error">
              <div ng-message="required">Este campo es requerido/This is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label for="email">Email</label>
            <input name="email" id="email"  type="email" ng-model="vm.email" />
            <div ng-if="vm.errors">{{vm.errors}}</div>
          </md-input-container>
            <md-button type="submit" class="md-raised md-primary" flex="center" >Enviar</md-button>
            
          </div>
        </form>
    </div>
    </md-content>
