<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2><a translate="BOLETINES" href="/#/boletines/"></a> > <span>{{vm.single_newsletter.name | uppercase | limitTo:letterLimit:10 }}</span></h2>
    </div>
</md-toolbar>


<section layout="row" flex>
    <md-content layout-padding class="subheader-h1">
        <h1>{{vm.single_newsletter.name | uppercase }}</h1>
        <p class="md-subhead" ng-bind-html="vm.single_newsletter.content"></p>
    </md-content>
</section>
