<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 show-xs hide-gt-xs><span><a href="/#/patrocinadores/" translate="PATROCINADORES">Patrocinadores</a></span> > {{vm.single_sponsors.name | uppercase | limitTo:10}} <span show-xs hide-gt-xs>...</span></h2>
         <h2 hide-xs show-gt-xs><span><a href="/#/patrocinadores/" translate="PATROCINADORES">Patrocinadores</a></span> > {{vm.single_sponsors.name | uppercase | limitTo:20}} </h2>
    </div>
</md-toolbar>
<div layout="row" layout-align="center center" ng-if="vm.loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<section layout="row" flex ng-if="vm.loading != true">
    <md-content flex>
        <md-card>
            <md-card-header layout-align="center center">
              <md-card-avatar >
                <!-- <img layout-align="center" alt="" ng-src="images/recortes/avatar-1.png" class="md-avatar md-fab" /> -->
                <img src="{{vm.single_sponsors.logo}}" class="circle" alt="">
              </md-card-avatar>
            </md-card-header>
            <md-card-title>
              <md-card-title-text layout-align="center center">
                        <span class="md-headline center">{{vm.single_sponsors.name | uppercase }}</span>
                        <span class="md-subhead"><a ng-href="tel:{{vm.single_sponsors.phone}}">Tel:{{vm.single_sponsors.phone}}</a></span>
                        <br>
                        <span class="md-subhead"><a ng-href="{{vm.single_sponsors.website}}" target="_blank">{{vm.single_sponsors.website}}</a></span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content layout-align="center center">
            <p class="md-subhead" ng-bind-html="vm.single_sponsors.description"></p>
            </md-card-content>
      </md-card>
    <!-- <p>{{vm.single_sponsors.name}}</p>
    <a href="phone:{{vm.single_sponsors.phone}}">{{vm.single_sponsors.phone}}</a><br>
    <a href="{{vm.single_sponsors.website}}" target="_blank">{{vm.single_sponsors.website}}</a>
    <p ng-bind-html="vm.single_sponsors.description"></p> -->
    <div ng-include="'views/footer.html'" ></div> 
    </md-content>
</section>
