<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 translate="PATROCINADORES">PATROCINADORES</h2>
    </div>
</md-toolbar>
<div layout="row" layout-align="center center" ng-if="vm.loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div layout="row" layout-wrap ng-if="vm.loading != true">
  <div flex="50" ng-repeat="sponsor in vm.sponsors.sponsors" layout-align="center center" class="sponsors">  
    <div layout="row" layout-align="center center">
        <md-button href="/#/patrocinadores/{{sponsor.pk}}/">
            <div>
                <img ng-src="{{sponsor.logo}}" class="circle" alt="">
            </div>
            <div>
                <h2 class="md-subhead">{{sponsor.name}}</h2>
            </div>
        </md-button>
        
    </div>
  </div>
</div>
<div layout-wrap ng-if="vm.loading != true" ng-include="'views/footer.html'" ></div> 
