<!-- <md-list flex>        
  <md-list-item class="noright" ng-repeat="item in vm.conferences" ng-href="/#/conferencias/{{item.pk}}/">
    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="" />
    <div class="md-list-item-text">
      <h3>{{item.name}}</h3>
      <h4>{{item.date}}</h4>
    </div>
  </md-list-item>
  <md-divider ></md-divider>
</md-list> -->