
<style>

    /*poner el color del tema que viene en el evento*/
    .md-toolbar-tools,md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar{
        background-color: {{toolbar_color}};
    }
    /*poner el color de los titulo que vienen en el evento*/
    .color-purple, h1{
        color: {{title_color}};
        font-weight: 300;
        /*font-size: 22px;*/
    }
    .md-toolbar-tools h2{
        color:{{ color_font_toolbar }};
    }
    md-progress-circular.md-default-theme path, md-progress-circular path{
    stroke:{{toolbar_color}};
    }
        /*color de los botones del li del menu*/
    md-sidenav .md-button.md-raised:not([disabled]){
        /*background: #885aae;*/
        background: {{menu_color}};
    }

    /*css para el sidenav */
    md-sidenav, md-sidenav md-content, md-sidenav .menu > li,.md-button.md-primary.md-raised, .md-button.md-primary.md-raised, .nav-header{
        /*background-color:#885aae!important;*/
        background-color:{{menu_color}}!important;
    }
    /*css para los bordes de cada li del sidenav*/

    .md-subheader.md-primary{
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 1.1rem!important;
        background-color: #edf0f0;
        color:{{title_color}}!important;/*poner el color del titulo del evento de la api*/
    }
    .md-headline{font-size: 14px;}
    md-card md-card-title md-card-title-text .md-subhead{
        font-size: 12px;
        color:#989898;
    }
    .home h2,.sponsors .md-subhead{font-weight: 300;font-family: 'Ubuntu',sans-serif; white-space:pre-wrap; color:{{title_color}}; }
    .md-headline, h1{font-size:16px;line-height: 20px; color:{{title_color}};}

    md-list-item.md-2-line .md-list-item-text h3, md-list-item.md-2-line > .md-no-style .md-list-item-text h3, md-list-item.md-3-line .md-list-item-text h3, md-list-item.md-3-line > .md-no-style .md-list-item-text h3,.subheader-h1 h1{
        /*font-size: 22px!important;*/
        font-weight: 400;
        white-space: normal;
        color:{{title_color}};
        

    }
    .subheader-h1 h1{
        font-size: 1.2rem!important;
    }
md-list-item .md-list-item-inner > p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.010em;
    margin: 0 0 0px 0;
    line-height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:{{title_color}};
    

}

    </style>


<div layout="column" flex role="main">
<!--  _common.html-->
    <div ui-view layout="column"></div>
</div>
<md-sidenav class="md-sidenav-left"
    md-component-id="left">

    <header class="nav-header">
        <a ng-href="#/" class="logo">
            <h1 class="md-heading" translate="MENU">Menu</h1>
        </a>
    </header>
    <md-content flex role="navigation" layout-align="center center" >
        <div layout="row" layout-align="center center" class="border-top-bottom" ng-show="event.languages == true" >
            <md-button ng-style="menu_color" ng-click="changeLanguage('es')" translate="BUTTON_TEXT_ES">ESP {{event.languages}}</md-button>
            <md-button ng-style="menu_color" ng-click="changeLanguage('en')" translate="BUTTON_TEXT_EN">ENG</md-button>
        </div>
        <ss-sidenav flex menu="menu">acadc</ss-sidenav>
    </md-content>
</md-sidenav>

