<footer layout="row" layout-align="center center" class="footer" ng-controller="Footer as vm">
        <!-- imagen - logo -->
        <div flex=10 flex-gt-sm="10" ng-if="vm.event.enabled_logo">
        </div>  
        <div flex=20 flex-gt-sm="5" ng-if="vm.event.enabled_logo">
            <img ng-src="{{vm.event.logo_hotel}}" alt="" flex-align="left"> 
        </div> 
         <div flex=10 flex-gt-sm="10" ng-if="vm.event.enabled_logo">
        </div>   
        <!-- / imagen - logo -->
        <div flex=5 flex-gt-sm="5" ng-if="vm.event.enabled_logo">
        </div>
        <!-- imagen - logo -->
        <div flex=30 flex-gt-sm="10" ng-if="vm.event.enabled_logo">
           <span flex-align="right" class="footer-span">POWERED BY</span> 
        </div>       
        <div flex=10 flex-gt-sm="5" ng-if="vm.event.enabled_logo">
            <img ng-src="images/recortes/logotipo-powered-by-jsav(2x).png" alt="" flex-align="left"> 
        </div>  
        <!-- / imagen - logo -->
        <!-- imagen - logo -->
        <div flex=30 flex-gt-sm="10" ng-if="vm.event.enabled_logo != true">
           <span flex-align="right" class="footer-span">POWERED BY</span> 
        </div>        
        <div flex=10 flex-gt-sm="5" ng-if="vm.event.enabled_logo != true">
            <img ng-src="images/recortes/logotipo-powered-by-jsav(2x).png" alt="" flex-align="left"> 
        </div>  
        <!-- / imagen - logo -->
                  
	
</footer>