
<div layout="row" flex layout-align="center center">
 <md-toolbar>
 <h2 class  ="md-toolbar-tools"><span>Registro/Login</span></h2>
</md-toolbar>
  <section layout="row" flex>
   <md-content layout-padding>
    <form name="eventForm" ng-submit="vm.login()">
      <md-input-container class="md-block">
        <label>ID EVENTO/EVENT ID</label>
        <input md-maxlength="10" required md-no-asterisk name="event" ng-model="vm.event">
        <div ng-messages="eventForm.event.$error">
          <div ng-message="required">Este campo es requerido/This is required.</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block">
        <label>CONTRASEÑA/PASSWORD</label>
        <input md-maxlength="30" type="password" required name="password" ng-model="vm.password">
        <div ng-messages="eventForm.password.$error">
          <div ng-message="required">Este campo es requerido/This is required.</div>
        </div>
      </md-input-container>

      <div>
        <md-button type="submit" ng-click="vm.login()" class="md-raised md-primary" flex="center" >Submit</md-button>

      </div>
    </form>
  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Menú2</h1>
    </md-toolbar>
    <md-content  layout-padding>
      <md-button ng-click="close()" class="md-primary">
        Close Sidenav Right
      </md-button>
    </md-content>

  </md-sidenav>

  </section>
</div>

