<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 show-xs hide-gt-xs><a translate="DESCARGAS" href="/#/descargas/">descargas</a> > <span>{{vm.single_conrence.name | uppercase | limitTo:10}} </span> <span show-xs hide-gt-xs>...</span></h2>
         <h2 hide-xs show-gt-xs><a translate="DESCARGAS" href="/#/descargas/">descargas</a> > <span>{{vm.single_conrence.name | uppercase | limitTo:25}} </span></h2>
    </div>
</md-toolbar>
<div layout="row" layout-align="center center" ng-if="vm.loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<section layout="row" flex ng-if="vm.loading != true">
  <md-content flex >
    <div layout-padding class="subheader-h1">
      <h1>{{vm.single_conrence.name | uppercase }}</h1>
    </div>
    <!-- agregar los links realcionados -->
      <md-subheader class="md-primary ">{{ 'DESCARGAS' | translate }}</md-subheader>
      <!-- agregar los links realcionados -->
      <md-list flex>        
              <md-list-item class="md-2-line detail" ng-repeat="descargas in vm.single_conrence.download" ng-href="{{descargas.file}}" target="_blank" >
                  <p class="detail-p">{{descargas.name | uppercase}}</p>
                <!-- <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon> -->
                <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>
              </md-list-item>
        
      </md-list>
      <br>
      <br>
      <br>
      <div ng-include="'views/footer.html'" ></div> 
  </md-content>
</section>
