  <md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 translate="TEXTO_ACCESS">Accesso directo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
            <div layout-padding>
                <p translate="BODY_LOGIN">lorem:</p>
              <p> <span><md-icon width="150px" md-svg-icon="images/icons/apple.svg" aria-label="Menu Icon"></md-icon></span> <span translate="TEXTO_SHORTCODE_APPLE1">En tu navegador, dar clic en </span> <span><md-icon md-svg-icon="images/icons/upload.svg" aria-label="Menu Icon"></md-icon></span> <span translate="TEXTO_SHORTCODE_APPLE2">y agregar a la pantalla inicial.</span></p>
              <p><span><md-icon md-svg-icon="images/icons/android.svg" aria-label="Menu Icon"></md-icon></span> <span translate="TEXTO_SHORTCODE_ANDROID1">En tu navegador, dar clic en</span> <span><md-icon md-svg-icon="images/icons/shapes.svg" aria-label="Menu Icon"></md-icon></span><span translate="TEXTO_SHORTCODE_ANDROID2">y agregar a la pantalla inicial.</span></p> 
            </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
             Ok
            </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>