<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2 class="md-body-2" translate="BUTTON_TEXT_RESET_PASSWORD">Restablecer contraseña</h2>
    </div>
</md-toolbar>
<br>
<br>
<section layout="row">
    <md-content flex >
        <div id="passwordReset_view" ng-controller="PasswordresetCtrl" layout="row" layout-align="center center">
            <div ng-if="complete == false" flex="90" flex-gt-xs="40">
                <form role="form" ng-if="authenticated != true" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate > 
                <p translate="TEXTO_RESET_PASSWORD">Ingresa tu email para restablecer la contraseña de su cuenta. </p>
                 <md-input-container class="md-block">
                    <label for="email">Email</label>
                    <input name="email" id="email"  type="email" ng-model="model.email" />
                    <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
                  </md-input-container>
                  <div>
                  <md-button ng-hide="authenticated" type="submit" class="md-raised md-grey" flex="center" translate="BUTTON_TEXT_RESET_PASSWORD">Reset Password</md-button>
                  </div>
                </form>
            </div>
            <p ng-if="authenticated" translate="TEXTO_LOGININ">You are</p>
            <div ng-if="complete == true" layout-padding>
                <h2 translate="TEXTO_SUCCESS_RESET_PASS"></h2>
            </div>
        </div>
    </md-content>
</section>