<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2 class="md-body-2" translate="BUTTON_TEXT_CHANGE_PASSWORD">Restablecer</h2>
    </div>
</md-toolbar>
<br>
<br>
<section layout="row">
    <md-content flex >
        <div id="passwordChange_view"  layout="row" layout-align="center center">
            <div ng-if="vm.complete == false" flex="90" flex-gt-xs="40">
                <form role="form" ng-submit="vm.changePassword(changePasswordForm)" name="changePasswordForm" ng-if="vm.authenticated" novalidate>
                    <md-input-container class="md-block">
                        <label for="id_password1" translate="TEXTO_NUEVA_PASS">Nuevaasa</label>
                        <input name="new_password1" id="id_password1" type="password" ng-model="vm.model.new_password1" required />
                        <div ng-repeat="error in vm.errors.new_password1">{{error}}</div>        
                    </md-input-container>
                    
                    <md-input-container class="md-block">
                        <label for="id_password2" translate="TEXTO_REPETIR_PASS">Repeat Password</label>
                        <input name="new_password2" id="id_password2" type="password" ng-model="vm.model.new_password2" required />
                        <div ng-repeat="error in vm.errors.new_password2">{{error}}</div>
                    </md-input-container>
                    
                    <md-button ng-if="vm.authenticated" type="submit" class="md-raised md-grey" flex="center" translate="BUTTON_TEXT_CHANGE_PASSWORD">BUTTON_TEXT_CHANGE_PASSWORD</md-button>   
                </form>
                <div ng-if="vm.authenticated != true"> <h2 translate="TEXTO_YOU_NEED_LOGGED_IN">You need to be logged in to do this!</h2></div>
            </div>
            <div ng-if="vm.complete == true">
                <div> <h2 translate="TEXTO_SUCCESS_CHANGE_PASS">You have changed your password.</h2></div>
            </div>
        </div>
</md-content>
</section>