<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Menu Button" ng-click="onClickMenu();">
      <md-icon md-svg-icon="images/icons/menu.svg" aria-label="Menu Icon"></md-icon>
    </md-button>
    <h2 translate="ASISTENTES">ASISTENTES</h2>
  </div>
</md-toolbar>
<section layout="row" flex> 
    <md-content flex >
    <div layout="column">
      <div flex layout-padding  >
        <p translate="TEXTO_TITULO_ASSISTENTES">TEXTO_TITULO_ASSISTENTES</p>  
      </div>
      <div layout="row" layout-align="center center" ng-if="!vm.authenticated">
        <md-button class="md-raised md-grey" ng-href="/#/registro/" translate="BUTTON_TEXT_LOGIN" ng-if="!vm.authenticated">BUTTON_TEXT_LOGIN</md-button>
        <br>
      </div>
    </div>
    <div layout="row">
          <md-progress-linear ng-if="vm.isLoading == false" md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear>
    </div>
<!--       <div layout-align="end start" layout="row" flex="100">     
      </div> -->
      <div layout="row" layout-align="center center">
        <md-input-container ng-show="vm.isLoading" >
          <label translate="TEXTO_SEARCH">Buscar por nombre</label>
          <input name="filterName" ng-model="vm.filterName">
        </md-input-container>
      </div>
      <md-list flex >         
        <md-list-item ng-repeat="assistent in vm.assistents | filter:vm.filterName" ng-click="vm.goToassistent(assistent.pk)" class="noright" ng-if="assistent.show_assistent">
        <img layout-align="center" alt="meet-me-avatar-single-{{$index}}" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar" />
        <p>{{assistent.first_name | uppercase}} {{assistent.last_name | uppercase}}</p>
        
        <md-icon md-svg-icon="communication:email"  ng-click="vm.doSendEmail(assistent.email)" aria-label="Send Email" class="md-secondary md-hue-3"></md-icon>
        <md-icon class="md-secondary" ng-click="vm.doSendEmail(assistent.email)" aria-label="Chat" md-svg-icon="images/icons/multimedia.svg" ></md-icon>
        <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg"></md-icon>
      </md-list-item>
      </md-list>
      <p ng-if="!vm.assistents" translate="ALERT_ASSISTENTS">ALERT_ASSISTENTS</p>
      <div ng-include="'views/footer.html'" ></div> 
    </md-content>
</section>