<style>
    .angular-google-map-container { height: 400px; }
</style>
<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 translate="TITULO_FACILIDADES">FACILIDADES</h2>
    </div>
</md-toolbar>
<section layout="row" flex ng-show="vm.facility.content"> 
    <md-content flex>
        <div layout-padding>
            <p ng-bind-html="vm.facility.content"></p>
        </div>
        <div  layout="row" layout-align="center center" layout-padding>
            <img flex="100" flex-gt-xs="50" src="{{vm.facility.image}}" alt="">
        </div>
        <br>
        <br>
        <md-subheader ng-show="vm.facility.content" class="md-primary" >{{ 'SUBTITULO_UBICACION' | translate | uppercase }}</md-subheader>
        <div layout-padding>
        <div id="map_canvas" ng-if='vm.map.center'>
            <ui-gmap-google-map options='vm.options' center='vm.map.center' zoom='vm.map.zoom'>
                <ui-gmap-marker coords="vm.marker" idkey="'1'"></ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
        <p ng-if="!vm.facility && vm.map.center">No tiene facilidades</p>    
        </div>
        
        <div ng-include="'views/footer.html'"></div>
    </md-content>
</section>





