<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2 class="md-body-2"><span><a href="/#/asistentes/" translate="ASISTENTES">ASISTENTES</a> > </span>{{vm.single_assistent.first_name | uppercase }} {{vm.single_assistent.last_name | uppercase }}<span show-xs hide-gt-xs>...</span> </h2>
    </div>
</md-toolbar>
<section layout="row">
    <md-content flex >
         <md-card>
            <md-card-header layout-align="center center">
              <md-card-avatar >
                <img layout-align="center" alt="" ng-src="https://material.angularjs.org/latest/img/100-1.jpeg" class="md-avatar md-fab circle" />
              </md-card-avatar>
            </md-card-header>
        <md-card-title>
          <md-card-title-text layout-align="center center">
                    <span class="md-headline">{{vm.single_assistent.first_name}} {{vm.single_assistent.last_name}}</span>
                    <span class="md-subhead">{{vm.single_assistent.job}}</span>
                    <span class="md-subhead">{{vm.single_assistent.company}}</span>
                    <span class="md-subhead"><a href="mailto:{{vm.single_assistent.email}}">{{vm.single_assistent.email}}</a></span>
                    
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="center center">
        <p class="md-subhead" ng-bind-html="vm.single_assistent.biography"></p>
        </md-card-content>
      </md-card>
      <md-subheader class="md-primary center" >{{ "SUBTITLE_ASSISTENTES" | translate}}</md-subheader>
      <div layout="column" layout-gt-xs="row" class="bg-white">
        <md-button class="md-raised" flex layout-align="center center" ng-href="mailto:{{ vm.single_assistent.email }}" />
            <p translate="TEXTO_ASSISTENTES">TEXTO_ASSISTENTES</p>  
            <md-button class="md-fab" aria-label="Facilities">
              <md-icon md-svg-icon="images/icons/multimedia.svg" aria-label="Menu Icon"></md-icon>
            </md-button>
            <p></p>
        </md-button>
      </div>
        
          

    </md-content>
</section>
