<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2 class="md-body-2" show-xs hide-gt-xs><span><a href="/#/conferencistas/" translate="SUBTITULO_CONFERENCISTAS">CONFERENCISTAS</a> > </span>{{vm.single_speaker.name | uppercase | limitTo:10 }}<span show-xs hide-gt-xs>...</span></h2>
         <h2 class="md-body-2" hide-xs show-gt-xs><span><a href="/#/conferencistas/" translate="SUBTITULO_CONFERENCISTAS">CONFERENCISTAS</a> > </span>{{vm.single_speaker.name | uppercase | limitTo:25 }}<span show-xs hide-gt-xs>...</span></h2>
    </div>
</md-toolbar>
<div layout="row" layout-align="center center" ng-if="vm.loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<section layout="row" ng-if="vm.loading != true">
    <md-content flex >
         <md-card>
            <md-card-header layout-align="center center">
              <md-card-avatar >
                <img layout-align="center" alt="" ng-src="{{vm.single_speaker.photo}}" class="md-avatar md-fab circle" />
              </md-card-avatar>
            </md-card-header>
        <md-card-title>
          <md-card-title-text layout-align="center center">
                    <span class="md-headline">{{ vm.single_speaker.name|uppercase }}</span>
                    <span class="md-subhead">{{vm.single_speaker.job}}</span>
                    <span class="md-subhead">{{vm.single_speaker.company}}</span>
                    <span class="md-subhead"><a href="mailto:{{vm.single_speaker.email}}">{{vm.single_speaker.email}}</a></span>
                    <br>
                    <span class="md-subhead"><a href="{{vm.single_speaker.website}}" target="_blank">{{vm.single_speaker.website}}</a></span>
                    
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout-align="center center">
        <p class="md-subhead" ng-bind-html="vm.single_speaker.description"></p>
        </md-card-content>
      </md-card>
       
        <md-subheader class="md-primary">{{'SUBTITULO_CONFERENCIAS' | translate }}</md-subheader>
        <md-list flex> 
              <md-list-item class="md-2-line" ng-repeat="item in vm.single_speaker.conference" ng-href="/#/{{vm.texto.url}}/{{item.pk}}/">
        <div class="md-list-item-text">
            <h3 layout-xs class="detail-p">{{ item.name | uppercase | limitTo:30 }}</h3>
          <p> {{ item.date }} </p>
        </div>
        <md-icon class="md-secondary" aria-label="Chat" md-svg-icon="images/icons/arrows.svg" ></md-icon>

            <!-- agregar los links realcionados -->
            </md-list-item>
        </md-list>
        <div ng-include="'views/footer.html'" ></div> 
    </md-content>
</section>
