body,
body > div {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

body > div {
    height: 100%;
}

.nav-header {
    flex-shrink: 0;
    z-index: 2;
}

.nav-header h1,
.nav-header h4 {
    color: white;
    text-align: center;
}

.nav-header a.logo {
    text-decoration: none;
}
md-content {
    background: transparent;
}
md-list-item {
    background-color: white
}
md-list-item.md-2-line,
md-list-item.md-2-line > .md-no-style, md-list-item._md-button-wrap{
    margin-bottom: 5px;
}
md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 0px;
}
img {
    max-width: 100%;
    width: 100%;
}
md-sidenav .menu > li {
    border-bottom-color: white!important;
}
p {
    font-family: 'Open Sans', sans-serif;
    color: #6e6e6e;
    line-height: 1.3rem;
    text-align: justify;
    /*font-size: 12px;*/
}
.center {
    text-align: center;
}
.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.footer {
    background-color: white;
    padding: 15px 0px!important;
}
md-list-item.md-2-line .md-list-item-text p,
md-list-item.md-2-line > .md-no-style .md-list-item-text p,
md-list-item.md-3-line .md-list-item-text p,
md-list-item.md-3-line > .md-no-style .md-list-item-text p {
    /*font-size: 18px;*/
    color: #979797!important;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
md-card md-card-header md-card-avatar {
    width: 150px!important;
    height: 150px!important;
}

.md-button.md-fab {
    background-color: white;
}
.md-button:not([disabled]).md-raised:active,
.md-button:not([disabled]).md-fab:active {
    background: transparent;
}
.menu .md-button.md-default-theme.md-raised:not([disabled]):hover,
.menu .md-button.md-raised:not([disabled]):hover {
    background: rgba(0, 0, 0, 0.4);
}
div.md-list-item-inner div.md-list-link-text h3 {
    /*font-size: 18px!important;*/
}
md-card,
md-list.md-list-conference > md-list-item {
    background: transparent!important;
    box-shadow: none!important
}
md-card md-card-header md-card-avatar {
    width: 100px;
    height: 100px;
}
.center {
    text-align: center;
}
/*ccs para los titulos*/

.md-subheader.md-default-theme.md-primary,
.md-subheader.md-primary {
    /*color:blue!important;*/
    /*background-color: red;*/
    
    font-weight: bold;
}
.md-button.md-fab {
    background-color: white;
    box-shadow:none!important;
}
.home md-icon{
    height: 33px;
    width: 33px;
}
md-sidenav .md-button.md-raised:not([disabled]) {
    color: #fff;
}
md-sidenav .md-button {
    color: #fff!important;
}

md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 0px;
}
.md-button.md-default-theme.md-fab:not([disabled]):hover, .md-button.md-fab:not([disabled]):hover{
    background:rgba(0,0,0,0.1);
}

.md-button.md-raised:not([disabled]){
    box-shadow:none;
}
.md-button.md-default-theme.md-raised, .md-button.md-raised{
    background:none;
}
.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover{
    background: rgba(0,0,0,0.1);
}
.bg-white{background-color: white;}
@media screen and (max-width: 320px){
    .home h2,.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3{
        font-size:14px!important;
    }
}
@media screen and (min-width: 321px) and (max-width: 420px){
    .home h2,.md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3{
        font-size: 1.1rem!important;
    }
}
@media screen and (max-width: 767px){
    md-list-item._md-button-wrap > div.md-button:first-child{padding:0 8px!important;}
}
.detail-p{color:#383838!important;}
.bg-conference-link p{text-align: center!important;}
md-input-container,md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{padding:0px!important;}
md-list-item.md-2-line .md-list-item-text p, md-list-item.md-2-line > .md-no-style .md-list-item-text p{font-style: italic;}
form{
    background: white;
    padding: 10px;
    border-radius: 1%;
}
.footer-span{
    color:#808080;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic; 
    font-size: 12px;  
}
.border-top-bottom{border-bottom: 1px solid #fff;border-top: 1px solid #fff;}
/*.md-subheader .md-subheader-inner{padding: 10px 16px!important;}*/
md-list-item.md-2-line .md-list-item-text p, md-list-item.md-2-line > .md-no-style .md-list-item-text p, md-list-item.md-3-line .md-list-item-text p, md-list-item.md-3-line > .md-no-style .md-list-item-text p{line-height: 1.3rem!important;}
span.md-subhead{line-height: 1.1rem;color:#989898;}
p.md-subhead{line-height: 1.3rem;color:#989898;}
span.md-subhead{font-style: italic;}
.md-grey{background-color: #383838!important;color:#fff!important;font-weight: bold;padding-right: 15px;padding-left:15px;font-family: 'Open Sans', sans-serif;}
.icon-38{width: 38px;height: 38px;}
.md-button.md-fab{margin-bottom: 0px;}
.home h2{margin-top: 0px;}
md-card md-card-title{padding: 15px 16px 24px 16px!important;}
.layout-align-center-center{margin-bottom: 0px!important;}
.color-red{color:red;}
md-dialog .md-dialog-content{padding:0px;}
md-dialog > form{padding: 0px;}
md-progress-circular{margin-top: 60%;}
.margin-50p{margin-top: 45%;}