<div id="passwordChange_view">
{{ vm.complete }}
    <div ng-if="vm.complete == false">
        <form role="form" ng-submit="vm.changePassword(changePasswordForm)" name="changePasswordForm" ng-if="vm.authenticated" novalidate>
            <div class="form-group">
                <label for="id_password1">New Password</label>
                <input name="new_password1" id="id_password1" type="password" ng-model="vm.model.new_password1" placeholder="New Password" class="form-control" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in errors.new_password1">{{error}}</div>
            <div class="form-group">
                <label for="id_password2">Repeat Password</label>
                <input name="new_password2" id="id_password2" type="password" ng-model="vm.model.new_password2" placeholder="Repeat Password" class="form-control" required />
            </div>
            <div class="alert alert-danger" ng-repeat="error in vm.errors.new_password2">{{error}}</div>
            <button ng-show="vm.authenticated" type="submit" class="btn btn-primary">Change Password</button>
        </form>
        <div class="alert alert-warning" ng-if="vm.authenticated != true">You need to be logged in to do this!</div>
    </div>
    <div ng-if="vm.complete == true">
        <div class="alert alert-success">You have changed your password.</div>
    </div>
</div>
