<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
        <h2 class="md-body-2">Restablecer contraseña</h2>
    </div>
</md-toolbar>
<div id="passwordReset_view" ng-controller="PasswordresetCtrl" layout="row" layout-align="center center" class="">
    <div ng-if="complete == false" flex="90" flex-gt-xs="40">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <form role="form" ng-if="authenticated != true" name="passwordResetForm" ng-submit="resetPassword(passwordResetForm)" novalidate > 
        <p>Ingresa tu email para restablecer la contraseña de su cuenta. </p>
         <md-input-container class="md-block">
            <label for="email">Email</label>
            <input name="email" id="email"  type="email" ng-model="model.email" />
            <div class="alert alert-danger" ng-repeat="error in errors.email">{{error}}</div>
          </md-input-container>
          <div>
          <md-button ng-hide="authenticated" type="submit" class="md-raised md-grey" flex="center">Reset Password</md-button>
          </div>
        </form>
    </div>
    <p ng-if="authenticated" translate="TEXTO_LOGININ">You are</p>
    <div ng-if="complete == true" layout-padding>
        <h2>You should receive an email shortly with instructions on how to reset your account password.</h2>
    </div>
</div>
