<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>{{vm.texto.title}}</h2>
    <span flex></span>
    <md-button class="md-icon-button"
    aria-label="Menu Button"
    ng-click="onClickMenu();">
    <md-icon
    md-svg-icon="images/icons/menu.svg"
    aria-label="Menu Icon">
  </md-icon>
</md-button>
</div>
</md-toolbar>
<div flex-gt-sm="50" flex>
  <md-content>
    <md-list flex>        
      <md-list-item class="noright" ng-repeat="item in vm.conferences" ng-href="/#/{{vm.texto.url}}/{{item.pk}}/">
        <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="" /> -->
        <div class="md-list-item-text">
          <h3>{{item.name}}</h3>
          <h4>{{item.date}}</h4>
        </div>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list>
  </md-content>
</div>