<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2><a href="#/links/">LINKS</a> > <span>{{vm.single_conrence.name | uppercase}}</span></h2>
    </div>
</md-toolbar>
<section layout="row" flex>
  <md-content flex>
    <div layout-padding class="subheader-h1">
      <h1>{{vm.single_conrence.name | uppercase}}</h1>
    </div>
    
      <md-subheader class="md-primary">LINKS</md-subheader>
      <md-list flex>        
        <md-list-item class="md-2-line" ng-repeat="link in vm.single_conrence.links" target="_blank" ng-href="{{link.link}}">
          <div class="md-list-link-text">
            <h3>{{link.link}}</h3>
          </div>
        </md-list-item>
      </md-list>
      
  </md-content>
</section>
