<md-toolbar>
    <div class="md-toolbar-tools" ng-style="toolbar">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="onClickMenu();">
            <md-icon
                md-svg-icon="images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>
         <h2>TIPS</h2>
    </div>
</md-toolbar>
<div layout="row" layout-align="center center" ng-if="vm.loading">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div flex-gt-sm="50" flex ng-if="vm.loading != true">
  <md-content>
    <md-list flex>        
      <md-list-item class="md-2-line" ng-repeat="item in vm.conferences" ng-href="/#/{{vm.texto.url}}/{{item.pk}}/">
        <!-- <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="" /> -->
        <div class="md-list-item-text">
          <h3>{{item.name | uppercase }}</h3>
        </div>
        <md-icon md-svg-icon="images/icons/arrows.svg" aria-label="Menu Icon"></md-icon>
      </md-list-item>
      
    </md-list>

    <p ng-if="!vm.conferences" translate="ALERT_ITEMS">ALERT_ITEMS</p>
    <div ng-include="'views/footer.html'" ></div> 
  </md-content>
</div>